@font-face {
  font-family: starWars;
  src: url('./fonts/star_jedi/starjedi/Starjhol.ttf');
}
:root{
  display: flex;
  justify-content: center;
  font-family: starWars;
  background-image: url('./images/star-wars-backgrounds-25_bc15ec98.jpeg');
  background-position: center;
  background-size: cover;
  color: yellow;
}
